/* 아영 */

* {
    margin : 0;
    padding : 0;
}

#ayoung header .grayheader {
    display: flex;
    /* box-sizing: border-box; */
    width: 100%;
    height: 60px;
    background-color: #363636;
    color: #BEBDB8;
    justify-content: center;
    /* position: fixed; */
    align-items: center;
    font-size: 14px;
    top: 0;
    left: 0;
    margin: 0px 0px 0px 0px;
}

#ayoung main .blackbox {
    display: flex;
    background-color: black;
    width: 100%;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: space-around;
    padding-top: 20px;
}

#ayoung .blackbox .words {
    width: 300px;
    display: flex;
    font-size: 18px;
    color: white;
    justify-content: space-around;
    align-items: center;
    margin-left: 100px;
}

#ayoung .blackbox #hosticon {
    margin: 5px 5px 0px 0px;
}


/* 인규 */

/* 지우 */